.searchEngine {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px 50px;
  color: white;

}

.searchEngine h1 {
  margin: 1rem 0;
  font-weight: bold;
}

.searchEngine h3 {
  font-size: 1.2rem;
}

.contentAnchor {
  margin: 20px auto 0;
  text-align: center;
}

.contentAnchor a {
  display: inline-block;
  padding: 0 20px;
  color: white !important;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none !important;
  border-radius: 50%;
  border: 2px solid white;
}
