.header {
	position: fixed;
	left: 0;
	top: 0;
	height: 80px;
	width: 100%;
	padding: 0;
	background: var(--color-primary);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 200;
  transition: opacity 300ms ease-in;
}

.headerMultiLine {
  height: 130px;
}

.headerNotFixed {
  position: absolute;
}

.header .wrapper {
	width: 100%;
	margin: 0 auto;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 80px;
	font-weight: 400;
	color: #FFF;
}

.titleLite {
  padding: 0 15px 0 0 !important;
}

.appBar {
  height: var(--header-height);
  color: var(--color-greyish);
  background-color: var(--color-primary);
}

.appBar img {
  /* For come reason the image overflows the header without that correction */

}

.horizontal > [data-react-toolbox="link"],
.horizontal > a {
  color: #DDD;
  opacity: 1;
  margin: 0 10px;
  cursor: pointer;
}

.logo {
  width: calc((var(--header-height) - 4px) * 2.5);
  height: calc(var(--header-height) - 4px);
  background-image: url('../../assets/logo370x130.png');
  background-size: contain;
  background-position: left center;
}

@media screen and (max-width: 940px) {
  .logo {
    width: calc((var(--header-height) - 18px));
    height: calc((var(--header-height) - 18px));
    background-image: url('../../assets/logo.png');
    margin: 7px;
    margin-left: 10px;
  }
}


.headerLeftPart {
  flex: 1;
}

.headerOptionalPart {
  flex: 3;
  display: flex;
}

.headerOptionalPart > *:not(:first-child) {
  margin-left: 10px;
}

.headerOptionalPart > div {
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;

}

.showAdditionalPart {
  opacity: 1 !important;
  pointer-events: all;
}

.headerHidden {
  opacity: 0;
}

.mobileLeftPart {
  cursor: pointer;
}

.drawerWrapper {
  z-index: 2000000; /* Crisp z-index is 10^6... */
}

.searchLine {
  left: 0;
  top: 60px;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 201;
  margin-left: 116px;
  padding-right: 1vw;
  max-width: 410px;
  @media screen and (max-width: 545px) {
    max-width: calc(100vw - 116px);
  }
  @media screen and (min-width: 990px) {
    padding-right: 0;
  }
}



.searchLine > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.searchLine form {
  margin: 0 !important;
}

.searchLine a[data-react-toolbox="button"] {
  margin-top: 0;
}
