.footer {
  margin-top: 40px;
  padding: 1px 0 70px;
  background-color: var(--color-primary);
  color: white;
}

.footer nav {
  padding: 20px 0 40px;
}

.footer nav h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 20px;
}

.footer nav:nth-child(3) ul {
  display: flex;
  margin-top: 30px;
}

.footer nav:nth-child(3) img {
  width: 64px;
  height: 64px;
  margin-right: 8px;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer a {
  line-height: 1.7rem;
  color: inherit;
}

.footer a:hover {
  color: inherit;
  text-decoration: underline;
}

.terms {
  text-align: right;
  font-size: 12px !important;
}

.alertButton {
  display: inline-block;
  border: 1px solid white;
  background-image: url('../../assets/footer/bell.png');
  background-size: 35px;
  background-position: 10px center;
  background-repeat: no-repeat;
  height: 50px;
  line-height: 50px;
  padding-left: 55px;
  padding-right: 20px;
  font-weight: bold;
}